In [ ]:
#Q1_Print odd numbers.

a=[]
b=[]
n=5
for x in range(1,n):
  a.append(int(input("enter num: ")))
print(a) 
for y in a:
  if y%2 != 0 :
    b.append(y)
print("List of odd numbers is: ",b)

enter num: 4
enter num: 5
enter num: 6
enter num: 7
[4, 5, 6, 7]
List of odd numbers is:  [5, 7]

In [ ]:
#Q2_Sum of element

a=[]
n=int(input("Enter range: "))
for listt in range(1,n):
  a.append(int(input("Enter numbers of list: ")))
print(a)  
final=sum(a)
print("The sum of list: ",str(final))

Enter range: 5
Enter numbers of list: 2
Enter numbers of list: 3
Enter numbers of list: 4
Enter numbers of list: 5
[2, 3, 4, 5]
The sum of list:  14

In [ ]:
#Q3_Reverse a list

a=[]
n=int(input("Enter range: "))
for listt in range(1,n):
  a.append(int(input("Enter numbers of list: ")))
print(a)  
a.sort(reverse=True)
print(a)

Enter range: 4
Enter numbers of list: 1
Enter numbers of list: 2
Enter numbers of list: 3
[1, 2, 3]
[3, 2, 1]

In [ ]:
#Q4_Find the top two maximum number

a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Second largest element is: ",a[n-2])
print("First largest element is:",a[n-1])

Enter number of elements:5
Enter element:34
Enter element:45
Enter element:56
Enter element:67
Enter element:34
Second largest element is:  56
First largest element is: 67

In [ ]:
#Q5_Find the second highest number

a=[]
n=int(input("Enter number of element: "))
for b in range(1,n+1):
  b=int(input("Enter list element: "))
  a.append(b)
a.sort()
print("Second highest number is: ",a[n-2])

Enter number of element: 5
Enter list element: 45
Enter list element: 36
Enter list element: 23
Enter list element: 76
Enter list element: 45
Second highest number is:  45

In [ ]:
#Q6_Print characters in decending order

list=["A","B","C","D","E","F"]
list.sort(reverse= True)
print("Characters in decending: ",list)

Characters in decending:  ['F', 'E', 'D', 'C', 'B', 'A']

In [ ]:
#Q7_

a = input("Enter a character: ")
b = ""
for char in a:
  if char not in b:
    b += char
print ("After removing repeated characters: ",b)

Enter a character: heeellloooooo
After removing repeated characters:  helo

In [ ]:
#Q8_Check character is vowel or consonant

a=input("Enter any character: ")
if (a == "a" or a == "A" or a == "e" or a == "E" or a == "i" or a == "I" or a == "o" or a == "O" or a == "u" or a == "U"):
  print(a,"is a Vowel..!")
else:
  print(a,"is a consonant..!")

Enter any character: h
h is a consonant..!

In [ ]:
#Q9_Calculate factorial of a number.

n=int(input("Enter any number for factorial: "))
factorial=1
if n<0:
  print("sorry factorial doesnt exist for negative number !")
elif n==0:
  print(" the factorial of 0 is 1 ")
else:
  for i in range(1,n+1): 
     factorial= factorial*i
print(factorial)

Enter any number for factorial: 4
24

In [ ]:
#Q10_merge two list

list1=[1,2,3,4,5,6]
list2=[7,8,9,]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]